@page
@model VidroArte.Pages.consultar_orcamentoModel
@{
    ViewData["Title"] = "Consulta de Orçamento";
}
@{
    Layout = "_Layout";
}
<head>

    <link rel="apple-touch-icon" type="image/png" href="https://cpwebassets.codepen.io/assets/favicon/apple-touch-icon-5ae1a0698dcc2402e9712f7d01ed509a57814f994c660df9f7a952f3060705ee.png" />

    <meta name="apple-mobile-web-app-title" content="CodePen">

    <link rel="shortcut icon" type="image/x-icon" href="https://cpwebassets.codepen.io/assets/favicon/favicon-aec34940fbc1a6e787974dcd360f2c6b63348d4b1f4e06c77743096d55480f33.ico" />

    <link rel="mask-icon" type="image/x-icon" href="https://cpwebassets.codepen.io/assets/favicon/logo-pin-b4b4269c16397ad2f0f7a01bcdf513a1994f4c94b8af2f191c09eb0d601762b1.svg" color="#111" />




    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700|Raleway:300,400,400i,500,500i,700,800,900" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/css/consulta.css">
    <link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
    <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.0/bootstrap-table.min.css'>
    <link rel='stylesheet' href='//rawgit.com/vitalets/x-editable/master/dist/bootstrap3-editable/css/bootstrap-editable.css'>
    <link rel="stylesheet" type="text/css" href="~/css/style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.0/jquery.mask.js"></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.0/bootstrap-table.js'></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.1/extensions/editable/bootstrap-table-editable.js'></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.1/extensions/export/bootstrap-table-export.js'></script>
    <script src='//rawgit.com/hhurz/tableExport.jquery.plugin/master/tableExport.js'></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.1/extensions/filter-control/bootstrap-table-filter-control.js'></script>

</head>
<body>

    <div class="area_cadastro">
        <h3><span class="material-symbols-outlined">person_add</span> CONSULTA DE ORÇAMENTO</h3><br /><br /><br />
        <table id="table"
               data-toggle="table"
               data-search="true"
               data-filter-control="true"
               data-show-export="true"
               data-click-to-select="true"
               data-toolbar="#toolbar">
            <thead>
                <tr>
                    <th data-field="RazaoSocial" data-filter-control="select" data-sortable="true">RazaoSocial</th>
                    <th data-field="Nome" data-filter-control="select" data-sortable="true">Nome</th>
                    <th data-field="CPF_CNPJ" data-filter-control="select" data-sortable="true">CPF_CNPJ</th>
                    <th data-field="InscEstadual" data-filter-control="select" data-sortable="true">InscEstadual</th>
                    <th data-field="Responsavel" data-filter-control="select" data-sortable="true">Responsavel</th>
                    <th data-field="RG" data-filter-control="select" data-sortable="true">RG</th>
                    <th data-field="DtNascimento" data-filter-control="select" data-sortable="true">DtNascimento</th>
                    <th data-field="date" data-filter-control="select" data-sortable="true">Date</th>
                    <th data-field="Email" data-filter-control="select" data-sortable="true">Email</th>
                    <th data-field="Telefone" data-filter-control="select" data-sortable="true">Telefone</th>
                    <th data-field="CEP" data-filter-control="select" data-sortable="true">CEP</th>
                    <th data-field="Rua" data-filter-control="select" data-sortable="true">Rua</th>
                    <th data-field="Numero" data-filter-control="select" data-sortable="true">Numero</th>
                    <th data-field="Complemento" data-filter-control="select" data-sortable="true">Complemento</th>
                    <th data-field="Bairro" data-filter-control="select" data-sortable="true">Bairro</th>
                    <th data-field="Cidade" data-filter-control="select" data-sortable="true">Cidade</th>
                    <th data-field="UF" data-filter-control="select" data-sortable="true">UF</th>
                    <th data-field="Usuario" data-filter-control="select" data-sortable="true">Usuario</th>
                    <th data-field="Banco" data-filter-control="select" data-sortable="true">Banco</th>
                    <th data-field="Agencia" data-filter-control="select" data-sortable="true">Agencia</th>
                    <th data-field="Conta" data-filter-control="select" data-sortable="true">Conta</th>
                    <th data-field="Digito" data-filter-control="select" data-sortable="true">Digito</th>
                    <th data-field="TipoConta" data-filter-control="select" data-sortable="true">TipoConta</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ListClients1)
                {
                    <tr>
                        <td>@item.RazaoSocial</td>
                        <td>@item.Nome</td>
                        <td>@item.CPF_CNPJ</td>
                        <td>@item.InscEstadual</td>
                        <td>@item.Responsavel</td>
                        <td>@item.RG</td>
                        <td>@item.DtNascimento</td>
                        <td>@item.Email</td>
                        <td>@item.Telefone</td>
                        <td>@item.CEP</td>
                        <td>@item.Rua</td>
                        <td>@item.Numero</td>
                        <td>@item.Complemento</td>
                        <td>@item.Bairro</td>
                        <td>@item.Cidade</td>
                        <td>@item.UF</td>
                        <td>@item.Usuario</td>
                        <td>@item.Banco</td>
                        <td>@item.Agencia</td>
                        <td>@item.Conta</td>
                        <td>@item.Digito</td>
                        <td>@item.TipoConta</td>
                    </tr>

                }

            </tbody>
        </table>

    </div>
</body>

